<%- include ('./parciales/head.ejs') %>
<body>
  <%- include ('./parciales/navegar.ejs') %>
  <div class="content">
    <h2>Editar Usuario</h2>
    <form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <label for="firstName">Nombre:</label>
      <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>" required><br><br>
      
      <label for="lastName">Apellido:</label>
      <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>" required><br><br>
    
      <label for="age">Edad:</label>
      <input type="number" id="age" name="age" value="<%= user.age %>" required><br><br>
    
      <label for="nationality">Nacionalidad:</label>
      <input type="text" id="nationality" name="nationality" value="<%= user.nationality %>" required><br><br>
    
      <label for="gender">Género:</label>
      <select id="gender" name="gender">
        <option value="Male" <%= user.gender === 'Male' ? 'selected' : '' %>>Masculino</option>
        <option value="Female" <%= user.gender === 'Female' ? 'selected' : '' %>>Femenino</option>
        <option value="Other" <%= user.gender === 'Other' ? 'selected' : '' %>>Otro</option><br><br>
      </select>
    
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="<%= user.email %>"><br><br>
    
      <label for="dateOfBirth">Fecha de Nacimiento:</label>
      <input type="date" id="dateOfBirth" name="dateOfBirth" value="<%= user.dateOfBirth.toISOString().split('T')[0] %>" required><br><br>
    
      <label for="image">Imagen:</label>
      <input type="file" id="image" name="image"><br><br>
      
      <button type="submit">Guardar Cambios</button>
    </form>
  </div>
  <%- include ('./parciales/footer.ejs') %>
</body>